.headers-Editor {
    border: 1px solid red;
}

.headers-Editor .OwnersprofileWallpaper {
    border: 1px solid blue;
}

/* =============================== */
/* ========= Cover Image ========= */
/* =============================== */
.headers-Editor .OwnersprofileandWallpaper .wallpaper_container {
    width: 100%;
    height: 250px;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: -0.5rem;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .dynamic_wallpaper {
    width: 100%;
    height: 250px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .dynamic_wallpaper .e_dynamic_wallpaper{
    width: 100%;
    height: 500px;
    top: -1.1rem;
    position: relative;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .dynamic_wallpaper .wallpaper {
    width: 100%;
    height: 100%;
    position: absolute;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .wallpaper_uploader {
   position: relative;
   float: right;
   margin-right: 10px;
   top: -14.7rem;
   right: 0.5rem;
}

/* ================================================== */
/* ============ Profile Photo Container =============*/
/* ================================================== */
.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .responsive-image {
    width: 100%;
    top: -5rem;
    position: relative;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .responsive-image .dynamic_profilePhoto {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 4px solid #ffffff;
    overflow: hidden;
    z-index: 4;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .responsive-image .dynamic_profilePhoto .e_dynamic_profilePhoto {
    width: 100%;
    height: 120px;
    position: relative;
    top: -0.5rem;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .responsive-image .dynamic_profilePhoto .e_dynamic_profilePhoto .profile {
    width: 100%;
    height: 100%;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .responsive-image .profile_uploader {
    position: relative;
    top: -2rem;
    left: 5rem;
    padding: 0px;
    margin: 0px;
}

/* ================================== */
/* ========= Logo Container ========= */
/* ================================== */
.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .logo_container {
    cursor: pointer;
    width: 75px;
    height: 75px;
    padding: 10px;
    margin-left: 5px;
    position: relative;
    top: -25rem;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .logo_container .dynamic_logo {
    overflow: hidden;
    width: 50px;
    height: 50px;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .logo_container .dynamic_logo .e_dynamic_logo {
    width: 50px;
    height: 50px;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .logo_container .dynamic_logo .e_dynamic_logo .logo {
    width: 50px;
    height: 50px;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .logo_container .logo:hover {
    box-shadow: 0px 0px 1px 1px rgb(30, 200, 10);
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .fas {
    color: rgba(126, 126, 126, 0.449);
    font-size: 0.85rem;
    background-color: #ffffff;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .fas:hover {
    color: rgb(30, 200, 10);
    box-shadow: 0px 0px 1px 1px rgb(30, 200, 10);
}

/* ====================================== */
/* =============== FORM ================= */
/* ====================================== */

.headers-Editor form {
    margin: 10px 20px 10px 20px;
    padding: 4rem 10px 10px 10px;
}

.headers-Editor form input {
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 0.85rem;
    outline-width: 0;
    padding: 10px 5px 2px 5px;
    width: 100%;
    font-weight: bold;
    color: rgba(36, 34, 34, 0.842);
}

.headers-Editor form input:focus {
    border: 1px solid rgb(30, 200, 10);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.form select {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(36, 34, 34, 0.719);
}

.form select:focus {
    border: 1px solid rgba(30, 200, 10);
    outline-color: rgba(30, 200, 10);
}

.form textarea {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(36, 34, 34, 0.698);
}

.form textarea:focus {
    outline-color: rgba(30, 200, 10);
    outline-width: 1px;
}

.form .errorContainer {
    height: 20px;
    width: 90%;
    position: absolute;
}

.form .errorMessage {
    font-size: 0.7rem;
    padding-left: 5px;
    color: red;
}

/* Onwners information inputs including fullname and headline */

.form .OwnersPersonalInformation {
    padding: 10px;
}

.form .OwnersPersonalInformation .box-model {
    height: 70px;
}

.form .OwnersPersonalInformation .box-model .inline {
    width: 50%;
    padding-right: 20px;
    display: inline-block;
}

.form .OwnersPersonalInformation .box-model .inline div {
    display: block
}

/* Address information input including country and zip */

.form .addressInformation {
    height: 150px;
    padding: 10px;
}

.form .addressInformation h5 span {
    font-size: 0.9rem;
}

.form .addressInformation h6 {
    width: 100%;
    font-size: 0.9rem;
    color: gray;
}

.form .addressInformation .row .dropdown{
    padding-left: 20px;
    width: 100%;
}

.form .addressInformation .row .dropdown .country {
    width: 100%;
    padding: 5px;
    background-color: rgba(255, 255, 255, 1.0);
}

.form .addressInformation .zip_container {
    margin-top: 20px;
}

/* introduction input */
.form .introduction {
    padding: 10px;
}

/* schoolname input including dropdown */
.form .educationInformation {
    padding: 10px;
    width: 100%;
}

.form .educationInformation .education {
    width: 100%;
    padding: 5px;
    background-color: #ffffff;
}

.form .educationInformation .addBtn {
    position: relative;
    float: right;
    right: 5px;
    font-size: 0.7rem;
    color: rgb(30, 200, 10);
    cursor: pointer;
}

/* summary */
.form .summary {
    padding: 10px;
    margin-top: 10px;
}

.form .summary .input_container {
    width: 100%;
}

.form .summary .input_container .summary {
    width: 100%;
    resize: none;
}

/* btn-group */
.form .btn-group {
    display: none;
}

/* span_button */
.span_button {
    width: 50%;
    padding: 10px;
    height: 60px;
    float: right;
    text-align: right;
}

.span_button div {
    padding-right: 40px;
}

.span_button div .btn {
    background-color: rgb(30, 200, 10);
    border: 1px solid rgb(30, 200, 10);
    color: #ffffff;
    border-radius: 50px;
    padding: 2px 20px;
    position: relative;
    margin-left: 20px;
    cursor: pointer;
    width: 90px;
}

.span_button div .cancel {
    background-color: #ffffff;
    color: rgb(30, 200, 10);
    border: 2px solid rgb(30, 200, 10);
}

.span_button div .btn:hover{
    box-shadow: 0px 0px 3px 0px rgb(30, 200, 10);
}

/* ================================================ */
/* ============= Form Inputs Webkits ============== */
/* ================================================ */

/* form input.ng-invalid {
    border-bottom: 1px solid red;
} */

form select.ng-valid {
    border: 1px solid rgb(30, 200, 10);
}

textarea.ng-valid {
    border: 1px solid rgb(30, 200, 10);
}

input.ng-valid {
    border-bottom: 1px solid rgb(30, 200, 10);
}

input:valid {
    border-bottom: 1px solid rgba(30, 200. 10)
}

/* input number webkits */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/* ================================================================ */
/* ================ Education Modal StyleSheet ==================== */
/* ================================================================ */
/* modal */
.modal {
    background-color: rgba(000, 000, 000, 0.6);
    z-index: 2;
}

/* .modal-dialog {
    border: 1px solid red;
} */

.modal-body {
    padding: 0px;
}

.modal-header {
    background-color : rgb(167, 162, 162);
    color: white;
}

.modal-header #exampleModalLabel {
    font-size: bold;
    color: white;
}

.modal-header .close .times {
    color: white;
}