.header {
    background-color: rgb(167, 162, 162);
    z-index: 5;
    height: auto;
    color: #ffffff;
    overflow-y: hidden;
    padding-top: 5px;
}

.header .header-container {
    float: left;
    width: 50%;
}

.header .header-container h5 {
    padding: 10px;
    font-weight: bold;
}

.header .removeBtn_container {
    padding: 10px;
    width: 50%;
    float: right;
}

.header .removeBtn_container .remove-icon {
    float: right;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 10px;
    cursor: pointer;
}

.header .removeBtn_container .remove-icon:hover {
    text-shadow: 1px 1px 1px rgb(20, 300, 10);
}

.headers-Editor {
    height: 1200px;
}

.headers-Editor .OwnersprofileandWallpaper {
    height: 200px;
    width: 100%;
}

/* =============================== */
/* ========= Cover Image ========= */
/* =============================== */
.headers-Editor .OwnersprofileandWallpaper .wallpaper_container {
    /* border: 1px solid blue; */
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .wallpaper {
    width: 100%;
    height: 200px;
    position: absolute;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .wallpaper_uploader {
   position: relative;
   float: right;
   margin-right: 10px;
   top: 1rem;
}

/* ================================================== */
/* ============ Profile Photo Container =============*/
/* ================================================== */
.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .responsive-image {
    width: 100%;
    top: 7rem;
    position: relative;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .responsive-image .profile_uploader {
    /* border: 1px solid red; */
    position: relative;
    padding: 0px;
    margin: 0px;
    left: -1.5rem;
    top: 3rem;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .responsive-image .profile {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 4px solid #ffffff;
    position: relative;
    left: 20px;
}

/* ================================== */
/* ========= Logo Container ========= */
/* ================================== */
.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .logo_container {
    cursor: pointer;
    width: 100px;
    top: -7.5rem;
    position: relative;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .logo_container .logo {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .logo_container .logo:hover {
    box-shadow: 0px 0px 1px 1px rgb(30, 200, 10);
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .fas {
    color: rgba(126, 126, 126, 0.449);
    font-size: 0.85rem;
    background-color: #ffffff;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.headers-Editor .OwnersprofileandWallpaper .wallpaper_container .fas:hover {
    color: rgb(30, 200, 10);
    box-shadow: 0px 0px 1px 1px rgb(30, 200, 10);
}

/* ====================================== */
/* =============== FORM ================= */
/* ====================================== */

.headers-Editor form {
    margin: 10px 10px 10px 10px;
    padding: 10px 0 10px 10px;
}

.headers-Editor form input {
    width: 100%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 0.85rem;
    outline-width: 0;
}

.headers-Editor form input:focus {
    border: 1px solid rgb(30, 200, 10);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.headers-Editor form .label {
    font-size: 0.85rem;
}

/* ====================== */
/* //hidden file INPUT */
/* ====================== */
.headers-Editor form .ng-ghozt .ghozt {
    display: none;
}

/* ================================ */
/* // Fullname and Headline INPUT*/
/* ================================ */
.headers-Editor .OwnersPersonalInformation .fullname {
    width: 100%;
}

.headers-Editor .OwnersPersonalInformation .fullname input {
    margin-top: 50px;
}

.headers-Editor .OwnersPersonalInformation .fullname .firstname {
    width: 45%;
    float: left;
}

.headers-Editor .OwnersPersonalInformation .fullname .lastname {
    width: 45%;
    float: right;
}

.headers-Editor .OwnersPersonalInformation .headline input {
    margin-top: 50px;
}


/* ================================ */
/* // ADDRESS INPUT FIELD*/
/* ================================ */
.headers-Editor form .addressInformation {
    margin: 50px 0px 0px 0px;
}

.headers-Editor form .addressInformation .row {
    width: 100%;
    padding: 10px 0px;
    border: 1px solid rgba(126, 126, 126, 0.278);
    margin: 0px;
}

.headers-Editor form .addressInformation .row .container {
    width: 50%;
}

.headers-Editor form .addressInformation .container h6 {
    font-size: 0.9rem;
    color: rgba(73, 67, 67, 0.693);
}

.headers-Editor form .addressInformation .container .country {
    width: 100%;
    padding: 5px;
    font-size: 0.9rem;;
    line-height: 1;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    box-shadow: 0px 0px 1px 0px rgba(126, 126, 126, 0.449);
    background-position-x: 95%;
    background-color: white;
}

.headers-Editor form .addressInformation .container .country:focus {
    outline-width: 0;
    border: 1px solid rgb(30, 200, 10);
}

/* ================================== */
/* INTRODUCTION INPUT FIELD */
/* ================================== */
.headers-Editor form .introduction {
    margin: 50px 0px 0px 0px;
}

/* ================================ */
/* // EDUCATION INPUT FIELD*/
/* ================================ */
.headers-Editor form .educationInformation {
    border: 1px solid rgba(0, 0, 0, 0);
    margin: 50px 0px 50px 0px;
    height: auto;
}

.headers-Editor form .educationInformation .education {
    width: 100%;
    padding: 5px;
    font-size: 0.9rem;;
    line-height: 1;
    height: 34px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;
    -webkit-appearance: none;
    box-shadow: 0px 0px 1px 0px rgba(126, 126, 126, 0.449);
    background-position-x: 95%;
    background-color: white;
}

.headers-Editor form .educationInformation .education:focus {
    outline-width: 0;
    border: 1px solid rgb(30, 200, 10);
}

.headers-Editor form .educationInformation .addBtn {
    float: right;
    font-size: 0.85rem;
    letter-spacing: -1px;
    color: rgb(30, 200, 10);
    cursor: pointer;
    margin-top: 2px;
}

.headers-Editor form .educationInformation .addBtn:hover {
    border-bottom: 1px solid rgb(30, 200, 10);
}

/* =========================== */
/* SUMMARY INPUT FIELD */
/* =========================== */
/* .headers-Editor form .summary {
    border: 1px solid black;
} */

.headers-Editor form .summary textarea {
    width: 100%;
    resize: none;
    font-size: 0.85rem;
    padding: 10px;
}

.headers-Editor form .summary textarea:focus {
    outline: 0;
    border: 1px solid rgb(30, 200, 10);
}

/* ====================== */
/* //hidden button */
/* ====================== */
.headers-Editor form .btn-group {
    display: none;
}

.headers-Editor form .btn-group .button {
    display: none;
}

/* ====================== */
/* //custom button */
/* ====================== */

.headers-Editor .span_button {
    border-top: 1px solid rgba(126, 126, 126, 0.449);
    height: 90px;
    padding-top: 23px;
}

.headers-Editor .span_button .btn {
    background-color: rgb(30, 200, 10);
    border: 2px solid rgb(30, 200, 10);
    color: white;
    border-radius: 50px;
    padding: 3px 20px;
    margin: 0px 60px 30px 0px;
    font-size: 0.9rem;
    float: right;
}

.headers-Editor .span_button .cancel {
    border: 1px solid rgb(30, 200, 10);
    background-color: #ffffff;
    color: rgb(30, 200, 10);
}

.headers-Editor .span_button .btn:hover {
    box-shadow: 0px 0px 3px 0px rgb(30, 200, 10);
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}