<div class ="centerbar">
  <div class ="blogPost">
    <div class ="owner_container">
      <div class ="image_container">
        <img src="" alt="profile">
      </div>
      <h4>Lars Concepcion * Blog Post</h4>
      <h6>M.E.A.N Stack Web Developer from philippines</h6>
    </div>
    <div class ="post_content">
      <div class ="paragraph_container">
        <p class ="blog_paragraph">Lorem Ipsum is simply dummy text of the printing and 
          typesetting industry. Lorem Ipsum has been the industry's standard dummy text 
          ever since the 1500s, when an unknown printer took a galley of type and scrambled 
          it to make a type specimen book. It has survived not only five centuries, but 
          also the leap into electronic typesetting, remaining essentially unchanged. It was
          popularised in the 1960s with the release of Letraset sheets containing Lorem 
          Ipsum passages, and more recently with desktop publishing software like Aldus 
          PageMaker including versions of Lorem Ipsum.
        </p>
      </div>
      <div class ="image_container">
        <img src="" alt="image">
      </div>
    </div>
  </div>  
</div>
