.header {
    background-color: rgb(167, 162, 162);
    position: relative;
    z-index: 5;
    height: auto;
    color: #ffffff;
    overflow-y: hidden;
    padding-top: 5px;
}

span {
    color: white;
}

.header .header-container {
    float: left;
    width: 50%;
}

.header .header-container h5 {
    padding: 10px;
    font-weight: bold;
}

.header .removeBtn_container {
    padding: 10px;
    width: 50%;
    float: right;
}

.header .removeBtn_container .remove-icon {
    float: right;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 10px;
    cursor: pointer;
}

.header .removeBtn_container .remove-icon:hover {
    text-shadow: 1px 1px 1px rgb(20, 300, 10);
}

.draggable-container {
    background-color: black;
    border: 1px solid black;
    height: 330px;
    width: 100%;
}

.draggable-container .secondary-container {
    width: 100%;
    height: 100%;
}

.draggable-container .secondary-container .drag-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.draggable-container .secondary-container .drag-container .limiter {
    position: relative;
    margin: 0 auto;
    width: 600px;
    height: 100%;
}

.draggable-container .secondary-container .drag-container .limiter .guideline {
    width: 100%;
    height: 100%;
}

.draggable-container .secondary-container .drag-container .limiter .guideline tbody {
    position: absolute;
    pointer-events: none;
    border: 2px solid white;
    overflow: hidden;
    width: 100%;
    margin-top: 50px;
    z-index: 2;
    box-shadow: 0px 0px 0px 200px rgba(0, 0, 0, 0.562);
}

.draggable-container .secondary-container .drag-container  .limiter .guideline td {
    height: 70px;
    width: 20rem;
    overflow: hidden;
}

.draggable-container .secondary-container .drag-container  .limiter .guideline .horizontal {
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.draggable-container .secondary-container .drag-container  .limiter .guideline .vertical {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

/* boundary */
.draggable-container .secondary-container .drag-container  .limiter .guideline .boundary {
    position: absolute;
    /* margin: 25px auto 0 30px; */
    width: 245px;
    height: 280px;
}

/* profile-photo-container */
.draggable-container .secondary-container .drag-container  .limiter .guideline .boundary .cover-photo-container {
    position: absolute;
    /* cursor: move; */
    width: 100%;
    height: 100%;

}

/* photo-container */
.draggable-container .secondary-container .drag-container  .limiter .guideline .boundary .cover-photo-container .cover-container {
    width: 100%;
    height: 100%;
}

/* profile-photo */
.draggable-container .secondary-container .drag-container  .limiter .guideline .boundary .cover-photo-container .cover-container .cover-photo {
    width: 600px;
    height: 500px;
}

/* Reminder */
.draggable-container .secondary-container .drag-container  .limiter .guideline .reminder {
    width: 100%;
    top: 18rem;
    z-index: 3;
    position: absolute;
    text-align: center;
}

.secondary-container .photo-uploader {
    display: none;
}

/* User interface button  */
.secondary-container .button-container {
    background-color: #ffffff;
    border: 1px solid black;
    position: relative;
    height: 117px;
}

/* input range  */
.secondary-container .input-range-container {
    position: relative;
    left: 15px;
    width: 100%;
    /* padding: 5px; */
}

.secondary-container .input-range-container .containers {
    padding: 5px 20px;
    margin: 0 auto;
}

.secondary-container .button-container .input-range-container .containers span{
    font-size: 0.8rem;
    color: rgb(122, 118, 118);
    font-weight: bold;
}

.secondary-container .button-container .input-range-container .containers .range-value {
    float: right;
    font-size: 0.80rem;
    font-weight: 500;
}

.secondary-container .input-range-container .containers .range {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    margin: 0 auto;
}

input[type=range]:focus {
    outline: none;
}

/* for firefox */
.range::-moz-focus-outer {
    border: 0;
}

.range::-moz-range-track {
    /* border: 1px solid rgb(20, 300, 20); */
    box-shadow: 0px 0px 1px 0px #000000;
    background-color: transparent;
    border-radius: 14px;
    height: 1px;
    width: 100%;
}

.range::-moz-range-progress {
    background-color: rgb(20, 300, 10);
}

.range::-moz-range-thumb {
    -webkit-appearance: none;
    background-color: #ffffff;
    box-shadow: 0px 0px 1px 0px #000000;
    border-radius: 10px;
    width: 13px;
    height:13px;
}

/* for chrome */
.range::-webkit-slider-thumb {
    position: relative;
    bottom: 6px;
    -webkit-appearance: none;
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 0px #000000;
    border-radius: 10px;
    padding: 7px;
    width: 10px;
}

.range::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: 0px 0px 1px 0px #000000;
    background-color: transparent;
    border-radius: 14px;
    height: 1px;
    width: 100%;
}

/* for ms ei */

/* input type submit */
.secondary-container .submit {
    display: none;
}

/* save and change button container */
.secondary-container .button-container .save-button-container {
    width: 50%;
    padding: 0px 20px 0px 0px;
    float: right;
    position: relative;
    color: #ffffff;
}

.secondary-container .button-container .save-button-container .button {
    background-color: rgb(30, 200, 10);
    border: 1px solid rgb(30, 200, 10);
    float: right;
    margin: 5px 20px 5px 5px;
    padding: 1px 20px;
    border-radius: 50px;
    cursor: pointer;
}

.secondary-container .button-container .save-button-container .save {
    background-color: #ffffff;
    border: 1px solid rgb(30, 200, 10);
    color: rgb(30, 200, 10)
}

