<div class ="header">
  <div class ="header-container">
    <h5>Change Cover Photo</h5>
  </div>
  <div class ="removeBtn_container">
    <span><i class ="fas fa-times remove-icon" (click) ="openAlertBox()"></i></span>
  </div>
</div>

<div class ="draggable-container">
  <div class ="secondary-container">
    <div class ="drag-container">
      <div class ="limiter">
        <div class ="guideline">
          <tbody class ="border-radius">
            <tr>
              <td></td>
              <td class ="horizontal"></td>
              <td></td>
            </tr>

            <tr>
              <td class ="vertical "></td>
              <td class ="vertical horizontal"></td>
              <td class ="vertical"></td>
            </tr>

            <tr>
              <td></td>
              <td class ="horizontal"></td>
              <td></td>
            </tr>
          </tbody>
          <div class ="boundary">
            <div class ="cover-photo-container">
              <div class ="cover-container">
                <img src ="/node._src/{{ metadata?.coverPhoto[0].filename }}/{{metadata?.coverPhoto[0]._id}}/{{metadata?.coverPhoto[0].chunkSize}}/{{metadata?.coverPhoto[0].length}}/{{metadata?.coverPhoto[0].schemaType}}" alt="cover-photo" class ="cover-photo">
              </div>
            </div>
          </div>
          <!-- <div class ="reminder">
            <span>Drag to reposition photo</span>
          </div> -->
        </div>
      </div>
    </div>

    <div class = "button-container">
      <form [formGroup] ="coverProperty" (submit) ="saveValue()">
        <div class ="row input-range-container">
          <div class ="col-6 zoom containers">
            <span>Zoom</span> <span class ="range-value">{{ Zoom.value }}</span>
            <input type="range" class ="range" min ="1" max ="1.5" step ="0.01" formControlName ="zoom" (input) ="setZoomPropertyValue()">
          </div>

          <div class ="col-6 straight containers">
            <span>Rotate</span> <span class ="range-value">{{ Rotate.value }}</span>
            <input type="range" class ="range" step ="1" min ="-45" max ="45" formControlName ="rotate" (input) ="setRotatePropertyValue()">
          </div>
        </div>

        <div class ="photo-uploader">
          <input type="file" formControlName ="image" (change) ="onchange($event)" #change>
        </div>

        <div class ="submit">
          <input type="submit" #save>
        </div>
      </form>

      <div class ="save-button-container">
        <span class ="save button" (click) ="save.click()">save</span>
        <span class ="change button" (click) ="change.click()">change</span>
      </div>

    </div>
  </div>
</div>


