<div class ="sidebar">
  <div class ="owner_information">
    <h5 class ="containerName"><i class="fas fa-globe-asia"></i>Intro</h5>

    <div class ="intro">
      <p class ="introduction">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
    </div>

    <div class ="additional_information">
      <ul class ="personal_information">
        <li class ="row list">
          <div class ="la Education"><i class="fas fa-graduation-cap"></i>Studied Bachelor of Science in Computer @ <a href ="#">Udemy</a></div>
        </li>
        <li class ="list">
          <div class ="la municipality"><i class="fas fa-home"></i>Lives in <a href ="#">Lebak, Sultan Kudarat, Philippines</a></div>
        </li>
        <li class ="list">
          <div class ="la from"><i class="fas fa-map-marker-alt"></i>From <a href ="#">Marikina City</a></div>
        </li>
        <li class ="list">
          <div class ="la dateCreated"><i class="far fa-copyright"></i>Publish On August 2013</div>
        </li>
      </ul>
    </div>

  </div>

  <div class ="col-md-12 gallery">
    <h5 class ="containerName"><i class="fas fa-images"></i>Photos</h5>
    <div class ="container">
      <div class ="row gallery_row">
         <div class ="col gallery_col">
            <img src="{{ image }}" alt="" class ="image">
         </div>
         <div class ="col gallery_col">
            <img src="{{ image1 }}" alt="" class ="image">
         </div>
         <div class ="col gallery_col">
            <img src="{{ image2 }}" alt="" class ="image">
         </div>
      </div>
      <div class ="row gallery_row">
        <div class ="col gallery_col">
            <img src="{{ image3 }}" alt="" class ="image">
        </div>
        <div class ="col gallery_col">
            <img src="{{ image4 }}" alt="" class ="image">
        </div>
        <div class ="col gallery_col">
            <img src="{{ image5 }}" alt="" class ="image">
        </div>
      </div>
      <div class ="row gallery_row">
        <div class ="col gallery_col">
            <img src="{{ image6 }}" alt="" class ="image">
        </div>
        <div class ="col gallery_col">
            <img src="{{ image7 }}" alt="" class ="image">
        </div>
        <div class ="col gallery_col">
            <img src="{{ image8 }}" alt="" class ="image">
        </div>
      </div>
    </div> 
  </div>
</div>