<div class ="sidebar">
  <div class ="owner_information">
    <div class ="intro">
      simple person who love to code
    </div>
    <div class ="additional_information">
      <ul class ="personal_information">
        <li class ="list">
          <div class ="Education">Studied Bachelor of Science in Computer @ <a href ="#">Udemy</a></div>
        </li>
        <li class ="list">
          <div class ="municipality">Lives in <a href ="#">Lebak, Sultan Kudarat, Philippines</a></div>
        </li>
        <li class ="list">
          <div class ="from">From <a href ="#">Marikina City</a></div>
        </li>
        <li class ="list">
          <div class ="dateCreated">Publish On August 2013</div>
        </li>
      </ul>
    </div>
  </div>

  <div class ="col-md-12 gallery">
    <h5 class ="containerName">Photos</h5>
    <div class ="container">
      <div class ="row gallery_row">
         <div class ="col gallery_col"></div>
         <div class ="col gallery_col"></div>
         <div class ="col gallery_col"></div>
      </div>
      <div class ="row gallery_row">
        <div class ="col gallery_col"></div>
        <div class ="col gallery_col"></div>
        <div class ="col gallery_col"></div>
      </div>
      <div class ="row gallery_row">
        <div class ="col gallery_col"></div>
        <div class ="col gallery_col"></div>
        <div class ="col gallery_col"></div>
      </div>
    </div> 
  </div>
</div>