.sidebar {
    border: 1px solid yellow;
    margin: 20px -20px 0px 0px;
    height: auto;
}

.sidebar .owner_information {
    border: 1px solid black;
}

.sidebar .gallery {
    border: 1px solid green;
    margin-top: 30px;
    padding: 0px 4px 10px 4px;
}

/* container name */
.sidebar .gallery .containerName {
    padding: 10px;
}

.sidebar .gallery .container {
    background-color: gray;
}

.sidebar .gallery .container .gallery_row .gallery_col {
    border: 1px solid black;
    height: 100px;
}

