.alert-box-container .errorMessage {
    padding: 16px 10px 0px 10px;
    color: gray;
    font-weight: bold;
    font-size: 0.9rem;
}

.alert-box-container .ng-ghozt {
    display: none;
}

.alert-box-container .btn-group {
    padding: 10px;
    float: right;
}

.alert-box-container .btn-group .btn {
    border: 1px solid rgb(30, 200, 10);
    font-weight: bold;
    padding: 3px 20px;
    font-size: 0.9rem;
    color: rgb(30, 200, 10);
    margin: 5px;
}

.alert-box-container .btn-group .highlight {
   background-color: rgb(30, 200, 10);
    color: white;
}

.alert-box-container .btn-group .btn:hover {
    box-shadow: 0px 0px 3px 0px rgb(30, 200, 10);
}