<nav>
  <div class ="w-100 navigation">
    <ul class="w-100 nav nav-tabs">
      <div class ="brand_logo">
        <!-- brand logo  -->
        <div>
          <a class ="navbar-brand" [ngStyle] ="markTwo(metadata?.logo[0].zoom)">
           <img [ngStyle] ="markOne(metadata?.logo[0].rotation)" src="/node._src/{{ metadata?.logo[0].filename }}/{{metadata?.logo[0]._id}}/{{metadata?.logo[0].chunkSize}}/{{metadata?.logo[0].length}}/{{metadata?.logo[0].schemaType}}" alt ="{{ metadata?.logo[0].filename }}" alt="" class ="logo">
          </a>
        </div>
      </div>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive ="active" [routerLinkActiveOptions] ="{exact: true}" routerLink="/">Timeline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive ="active" routerLink="/portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive ="active" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link contact" routerLinkActive ="active" (click) ="openContactDialog()">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive ="active" href="https://www.facebook.com">Blog</a>
      </li>
    </ul>
  </div>
</nav>       
