<nav>
  <div class ="navigation">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/timeline">Timeline</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="blog">Blog</a>
      </li>
    </ul>
  </div>
</nav>       
