<div class ="header">
    <div class ="header-container">
      <h5>Add Another Field</h5>
    </div>
    <div class ="removeBtn_container">
      <span><i class ="fas fa-times remove-icon" (click) ="openAlertBox()"></i></span>
    </div>
  </div>
  
  <!-- ng-scrollbar -->
  <ng-scrollbar class ="custom-scrollbar" thumbClass ="white-scrollbars">
    <div class ="add-about-container">
      <form>
        <!-- ================== -->
        <!-- title -->
        <div class ="containers title_container">
          <h6>Field Title</h6>
          <input type="text">
        </div>

        <!-- ================== -->
        <!-- image uploader -->
        <div class ="containers file-image-container">
          <div class ="example">
            <h6>Upload File <span class ="note">(Allowed formats: JPG, PNG, GIF. Maximum file size: 10MB)</span></h6>
            <span class ="upload-btn" (click) ="upload.click()">Add File</span>
          </div>
  
          <!-- files selector -->
          <input type="file" class ="image_upload" #upload>
  
          <!-- presentation -->
          <div class ="container-fluid presentation">
            <div class ="row">
  
              <!-- add button -->
              <div class ="col-3 additional-container" (click) ="upload.click()">
                <div class ="dotted">
                  <span><i class ="fas fa-plus"></i></span>
                </div>
              </div>
  
              <div class ="col-3 additional-container">
                  <div class ="icon">
                      <span class ="remove"><i class ="fa fa-times"></i></span>
                      <img src="{{ image5 }}" alt="" class ="bg-img">
                  </div>
              </div>
  
            </div>
          </div>
        </div>

        <!-- ================== -->
        <!-- item description -->
        <div class ="containers item-description-container">
          <h6>Item Description</h6>
          <textarea name="" id="" cols="30" rows="10" class ="item-description"></textarea>
        </div>
  
        <div class ="ng-ghozt">
          <input type="submit" class ="button">
        </div>
      </form>
  
      <div class ="span_button">
        <span class ="btn">Add</span>
        <span class ="btn cancel" (click) ="openAlertBox()">cancel</span>      
      </div>
    </div>
</ng-scrollbar>
