.main {
    width: 100%;
    overflow: hidden;
}

.oneoftwo {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

header {
    padding: 0px;
    margin: 1px 0px 20px 0px; 
    box-shadow: 0px 0px 3px 0px black;
}

header .info {
    padding: 0px;
    margin: 0px;
}

header .info .owner-space {
    /* border: 1px solid red; */
}

header .info .owner-space .wallpaper_container {
    width: 100%;
    height: 300px;
}

header .info .owner-space .wallpaper_container .dynamic {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 300px;
}

header .info .owner-space .wallpaper_container .dynamic_container {
    top: -1.1rem;
    position: relative;
    width: 100%;
    height: 600px;
}

/* wallpaper */
header .info .owner-space .wallpaper_container .dynamic_container .wallpaper {
    width: 100%;
    height: 600px;
    z-index: -1;
    position: absolute;
}

/* profile */
header .info .owner-space .wallpaper_container .responsive-image {
    position: relative;
    top: -8rem;
    height: 150px;
}

header .info .owner-space .wallpaper_container .responsive-image .border-radius {
    border: 4px solid white;
    border-radius: 100px;
    box-shadow: 0px 0px 5px 0px black;
    width: 160px;
    height: 160px;
    margin-left: 8%;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}

header .info .owner-space .wallpaper_container .responsive-image .border-radius .image-container {
    padding: 0px;
    width: 180px;
    height: 180px;
    margin-top: -15px;
    margin-left: -1rem;
}

header .info .owner-space .wallpaper_container .responsive-image .border-radius .profile {
    margin: 0;
    width: 100%;
    height: 100%;
}

header .info .owner-space .information {
    background-color: white;
    padding: 30px 0px 5px 0px;
}

header .info .owner-space .information .name {
    color: rgb(51, 47, 47);

}

header .info .owner-space .information .headline {
    color: rgb(73, 67, 67);
}

header .info .owner-space .information .location {
    color: rgba(73, 67, 67, 0.693);
}

header .info .owner-space .information .ra {
    padding-left: 30px;
}

header .info .owner-space .summaryText {
    border-top: 1px solid rgba(126, 126, 126, 0.449);
    background-color: white;
    font-size: 0.95rem;
    padding: 15px 10px 0px 10px;
    text-align: center;
    overflow: hidden;
}

header .info .owner-space .summaryText .paragraph {
    /* height: 50px; */
}


/* media query */
@media (max-width: 1115px) {
    header .info .owner-space .wallpaper_container .responsive-image {
        top: 12rem;
    }

    header .info .owner-space .wallpaper_container .responsive-image .profile {
        width: 140px;
        height: 140px;
        margin-left: 7%;
    }
}

/* media query */
@media (max-width: 992px) {
    header .info .owner-space .wallpaper_container .responsive-image {
        top: 11rem;
    }

    header .info .owner-space .wallpaper_container .responsive-image .profile {
        width: 150px;
        height: 150px;
    }
}

@media (max-width: 991px) {
    .row .right-sidebar {
        display: none;
    }
}

@media (max-width: 888px) {
    header .info .owner-space .wallpaper_container .responsive-image {
        top: 12rem;
    }

    header .info .owner-space .wallpaper_container .responsive-image .profile {
        width: 130px;
        height: 130px;
    }
}

/* MAX WIDTH MUST BE 755PX */