<div *ngIf ="router.url !== '/admin'">
  <div class ="row">
    <div class ="main col-lg-9 col-sm-12">
      <div>
        <div class ="oneoftwo" @fade>
          <header class ="col-md-12 ">
            <div class ="col-md-12 info">
              <div class ="owner-space">
                <app-profile-cover></app-profile-cover>
                <app-nav></app-nav>
                <div *ngIf="router.url == '/timeline'">
                  <app-header></app-header>
                </div>
              </div>
            </div>
          </header>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <div class ="right-sidebar col-lg-3 col-md-4 col-sm-0">
      <app-right-sidebar></app-right-sidebar>
    </div>
  </div>
</div>

<div *ngIf ="router.url == '/admin'">
  <div class ="col-md-12">
      <router-outlet></router-outlet>
  </div>
</div>