<div @fade class ="information">
  <span class ="edit" (click) ="showDialog()"><i class="fas fa-pen" data-toggle ="tooltip" data-placement ="auto" title ="Edit Profile"></i></span>
  <div class ="context">
    <h4 class ="ra name">Lars Concepcion</h4>
    <h5 class ="ra headline">M.E.A.N Stack Web Developer</h5>
    <h6 class ="ra location">Region XII - Soccsksargen</h6>
  </div>
  <div class ="summaryText">
    <p class ="paragraph"> 
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
      when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
      It has survived not only five centuries, but also the leap into electronic typesetting, 
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset 
      sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
      Aldus PageMaker including versions of Lorem Ipsum.
    </p>
  </div>
</div>
