.information {
    background-color: white;
    padding: 0px 0px 5px 0px;
}

.information .context {
    padding: 20px 0px 10px 0px;
}

.information .context .name {
    color: rgb(51, 47, 47);
}

.information .context .headline {
    color: rgb(73, 67, 67);
}

.information .context .location {
    color: rgba(73, 67, 67, 0.693);
}

.information .ra {
    padding-left: 30px;
}

.summaryText {
    border-top: 1px solid rgba(126, 126, 126, 0.449);
    background-color: white;
    font-size: 0.95rem;
    padding: 15px 10px 0px 10px;
    text-align: center;
    overflow: hidden;
}

.information .edit {
    margin: 20px 20px 0px 0px;
    float: right;
}

.information .edit .fas {
    border-radius: 100px;
    cursor: pointer;
    background-color: rgba(168, 167, 167, 0.17);
    color: rgba(126, 126, 126, 0.449);
    padding: 10px;
    font-size: 1.2rem;
}

.information .edit .fas:hover {
    color: rgb(30, 200, 10);
    transition: 0.3s;
    box-shadow: 0px 0px 1px 1px rgb(30, 200, 10);
}

/* modal */
.modal {
    background-color: rgba(000, 000, 000, 0.6);
    z-index: 2;
}

/* .modal-dialog {
    border: 1px solid red;
} */

.modal-body {
    padding: 0px;
}

.modal-header {
    background-color : rgb(167, 162, 162);
    color: white;
}

.modal-header #exampleModalLabel {
    font-size: bold;
    color: white;
}

.modal-header .close .times {
    color: white;
}