.about {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.about .fluid{
    padding: 30px;
    line-height: 25px;
    /* color: gray; */
    height: auto;
    padding: 10px;
    margin-top: 20px;
}


/* =========================== */
/* add button */
/* =========================== */
.about .add_container {
    box-shadow: 0px 0px 1px 0px #000000;
    background-color: #ffffff;
}

/* .about .fluid .add_btn {
    border: 1px solid black;
} */

.about .fluid .add_btn span {
    background-color: rgba(168, 167, 167, 0.17);
    box-shadow: 0px 0px 1px 0px rgba(168, 167, 167, 0.17);
    font-size: 0.85rem;
    padding: 1px 10px;
    margin: 10px;
    float: right;
    cursor: pointer;
    transition: 0.3s;
}

.about .fluid .add_btn span:hover {
    box-shadow: 0px 0px 1px 1px rgb(30, 200, 10);
    transition: 0.3s;
    color: rgb(30, 200, 10);
}

.about .fluid .add_btn span .fa-plus {
    padding: 10px;
}

.about .fluid .containers {
    box-shadow: 0px 0px 3px 0px black;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
}

.about .fluid .containers .content-container {
    background-color: rgba(41, 39, 39, 0.87);
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* position: absolute; */
}


.about .fluid .containers .content-container h5 {
    text-align: center;
    font-weight: bold;
    padding: 20px;
    z-index: 2;
}

.about .containers .content-container p {
    font-size: 0.9rem;
    text-align: center;
    padding: 10px;
    z-index: 1;
}

.about .containers .content-container p a {
    text-decoration: none;
    z-index: 2;
}

.about .fluid .containers .bg {
    border: 1px solid black;
    position: absolute;
    z-index: -1;
    width: 100%;
    height:100%;
}

.about-container .containers .content-container p span .fa-plus {
    font-size: 2rem;
}