<div @fade class ="about">
  <div class ="container">
    <h3>About Me</h3>
    <p>
      My name is Lars Concepcion a passionate and skilled self taught full stack web developer from philippines.
      I learned all my knowledge in online courses on <a href ="https://www.udemy.com/">Udemy</a>, <a href ="https://www.codecademy.com/">Codecademy</a> and also a subscriber on different <a href ="https://www.youtube.com/">Youtube</a> channel,
      Knowledge to use HTML, HTML5, CSS, CSS3, SASS, BOOTSTRAP, SEMANTIC UI, JAVASCRIPT, JQUERY, ANGULAR 2, ANGULAR MATERIAL, NODE.JS, EXPRESS, MONGODB, NPM, GITHUB,
      GIMP, INKSCAPE and Soon to be PYTHON, C#, and C++,
    </p>
  </div>

  <div class ="container">
    <h3>A few Fun Facts About Me</h3>
    <p>
      I love burger and pizza but <a href ="https://en.wikipedia.org/wiki/Philippine_adobo">chicken adobo</a> was the best for me. My favotite number is 5. Dr. Strange is the best Marvel superheroes for me. I play basketball and chess. I play video games like it was my life, 
      My very first gaming console is <a href ="https://en.wikipedia.org/wiki/Nintendo_64">Nintendo64</a> and the very first video games that i've completed is <a href ="https://www.google.com.ph/search?q=star+fox+64&oq=Star+fox+64&aqs=chrome.0.69i59l3j69i61j69i60l2.1557j0j7&sourceid=chrome&ie=UTF-8">Star Fox 64</a> back in the year of 2003
      when i was a 6 years old and it make me feel a real pilot when playing this games, Sounds Horrible right? but being a child once in lifetime is the best
      memory in my life. 
    </p>
  </div>
</div>  