<div @fade class ="sidebar">
  <div class ="owner_information">
    <h5 class ="containerName"><i class="fas fa-globe-asia"></i>Intro</h5>

    <div class ="intro">
      <p class ="introduction">{{ prof?.introduction }}</p>
    </div>

    <div class ="additional_information">
      <ul class ="personal_information">
        <li class ="row list">
          <div class ="la Education"><i class="fas fa-graduation-cap"></i>Studied Web Development<a href ="#">Udemy</a></div>
        </li>
        <li class ="list">
          <div class ="la from"><i class="fas fa-map-marker-alt"></i>From <a href ="#">Marikina City</a></div>
        </li>
        <li class ="list">
          <div class ="la dateCreated"><i class="far fa-copyright"></i>Publish On August 2013</div>
        </li>
      </ul>
    </div>

  </div>

  <div class ="col-md-12 gallery">
    <h5 class ="containerName"><i class="fas fa-images"></i>Photos</h5>
    <div class ="container">
      <div class ="col-4 col" *ngFor ="let property of metadata | slice:0:12; let i = index;">
          <img class ="gallery_col" src ="/node._src/{{property?.filename }}/{{property?._id}}/{{property?.chunkSize}}/{{property?.length}}/{{property?.schemaType}}" alt="{{property?.filename }}" >
      </div>
    </div> 
  </div>
</div>