.sidebar {
    border: 1px solid rgba(255, 255, 255, 0.0);
    margin: 0px 0px 20px 0px;
    height: auto;
}

/* ======================== */
/* INTRO */
/* ======================== */

.sidebar .owner_information {
    background-color: white;
    box-shadow: 0px 0px 3px 0px black;
    padding: 0px;
}

.containerName {
    padding: 15px 15px 0px 15px;
}

.fa-globe-asia {
    color: rgba(14, 33, 158, 0.775);
    margin-right: 10px;
}

.sidebar .owner_information .intro {
    border-bottom: 1px solid rgba(204, 201, 201, 0.612);
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 12px;
}

.sidebar .owner_information .intro .introduction {
    font-size: 0.8rem;
}

.sidebar .owner_information .additional_information {
    padding: 5px;
    margin: 0px;
}

.sidebar .owner_information .additional_information .personal_information {
    font-size: 0.8rem;
    padding: 0px;
    margin: 0px;
}

.list .fas {
    color: rgb(144, 142, 142);
    padding: 5px;
    font-size: 1.1rem;
}

.list .far {
    color: rgb(144, 142, 142);
    padding: 5px;
    font-size: 1.1rem;
}

.sidebar .owner_information .additional_information .personal_information .list {
    list-style-type: none;
    padding: 4px 0px 4px 0px;
    margin: 0px;
}

.sidebar .owner_information .additional_information .personal_information .list .la {
    width: 100%;
    padding: 0px;
    margin: 0px;
}


/* =========================== */
/* GALLERY */
/* =========================== */

.sidebar .gallery {
    background-color: white;
    margin-top: 23px;
    box-shadow: 0px 0px 3px 0px black;
    padding: 0px 4px 10px 4px;
}

.fa-images {
    color: rgba(11, 177, 214,  0.646);
    margin-right: 10px;
}

/* container name */
.sidebar .gallery .containerName {
    padding: 10px;
}

.sidebar .gallery .container {
    background-color: rgba(204, 201, 201, 0.224);
    padding: 0;
}

.sidebar .gallery .container .col {
    border: 2px solid white;
    display: inline-block;
    height: 90px;
    margin: 0;
    padding: 0;
}

.sidebar .gallery .container .col .gallery_col {
    display: inline-flex;
    width: 100%;
    height: 100%;
}


@media (max-width: 1225px) {
    .sidebar .owner_information .additional_information .personal_information li .la {
        font-size: 76%;
    }

    .sidebar .owner_information .additional_information .personal_information li .la i {
        font-size: 100%;
    }
}

@media (max-width: 1067px) {
    .sidebar .gallery .container .gallery_row .gallery_col {
        height: 80px;
    }
}

@media (max-width: 1050px) {
    .sidebar .gallery .container .gallery_row .gallery_col {
        height: 70px;
    }
}

@media (max-width: 992px) {
    .sidebar .owner_information .additional_information .personal_information li .la {
        font-size: 80%;
    }
}

@media (max-width: 813px) {
    .sidebar .gallery .container .gallery_row .gallery_col {
        height: 80px;
    }
}

@media (max-width: 787px) {
    .sidebar .owner_information .additional_information .personal_information li .la {
        font-size: 75%;
    }

    .sidebar .owner_information .intro {
        padding: 10px;
    }

    .sidebar .owner_information .intro .introduction {
        font-size: 75%;
    }
}

@media (max-width: 767px) {
    .sidebar {
        display: none;
    }
}



