/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgba(204, 201, 201, 0.224);
}

.custom-modalbox .mat-dialog-container{
    padding: 0px;
    overflow: hidden;
}
