/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgba(204, 201, 201, 0.224);
    min-width: 755px;
}

.custom-modalbox .mat-dialog-container{
    padding: 0px;
    overflow: hidden;
}

.profile-editor .mat-dialog-container{
    padding: 0;
    border-top: 1px solid rgb(138, 136, 136);
    border-left: 1px solid rgb(138, 136, 136);
    overflow: hidden;
    /* box-shadow: 0px 1px 1px 0px rgb(138, 136, 136); */
}

.education-input-field .mat-dialog-container {
    padding: 0;
    overflow: hidden;
}

.customAlertBox .mat-dialog-container {
    padding: 0;
    overflow: hidden;
}

.Add-Portfolio .mat-dialog-container {
    padding: 0px;
    overflow: hidden;
}

.Add-About .mat-dialog-container {
    padding: 0;
    overflow: hidden;
}

.add-blog-post .mat-dialog-container {
    padding: 0px;
    overflow: hidden;
}