<div class ="custom-modalbox">
    <div class ="row">
        <!-- left content -->
        <div class ="col-5 headersWallpaper">
            <div class ="contact-header">
                <div class ="brand-container">
                    <span class ="logo"><img src="assets/l.png" alt="" class ="brand"></span>
                </div>
                <div class ="headers">
                    <h6>
                        Interested on working with me? or 
                        just to say something fill up the 
                        form and you're good to go
                    </h6>
                    <a href ="#" class ="button">Watch my video</a>
                </div>
                <div class ="social-link">
                    <ul class ="item">
                        <li class ="list">
                            <a href="" class ="link">
                                <img src="assets/social_logo/facebook.png" alt="" class ="social-media-logo">
                            </a>
                        </li>

                        <li class ="list">
                            <a href="" class ="link">
                                <img src="assets/social_logo/linkedin.png" alt="" class ="social-media-logo">
                            </a>
                        </li>

                        <li class ="list">
                            <a href="" class ="link">
                                <img src="assets/social_logo/github.png" alt="" class ="social-media-logo">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div> 
        
        <!-- form -->
        <div class ="col-7 contact-form">
            <form [formGroup] ="contactForm" (ngSubmit) ="OnSend()">
                <input type="text" placeholder ="Fullname" formControlName ="fullname">
                <input type="email" placeholder ="Email" formControlName ="email"> 
                <input type="text" placeholder ="Subject" formControlName ="subject">
                <label for="message" class ="messageLabel">Message
                    <textarea id="" cols="30" rows="6" id ="message" formControlName ="message"></textarea>
                </label>
                <input type="submit" class ="btn" #send>
                <button class="btn" mat-dialog-close #cancel></button>
                <div class ="row btn-group">
                    <div class ="btn-container col-6">
                        <span class ="cancel" (click) ="cancel.click()">cancel</span>
                    </div>
                    <div class ="btn-container col-6">
                        <span class ="send" (click) ="send.click()">Send</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
