<div class ="custom-modalbox">
    <div class ="row">
        <!-- left content -->
        <div class ="col-5 headersWallpaper">
            <div class ="contact-header">
                <div class ="brand-container">
                    <span class ="logo"><img src="assets/l.png" alt="" class ="brand"></span>
                </div>
                <div class ="headers">
                    <h6>
                        Interested on working with me? or 
                        just to say something fill up the 
                        form and you're good to go
                    </h6>
                    <a href ="#" class ="button">Watch my video</a>
                </div>
                <div class ="social-link">
                    <ul class ="item">
                        <li class ="list">
                            <a href="" class ="link">
                                <img src="assets/social_logo/facebook.png" alt="" class ="social-media-logo">
                            </a>
                        </li>

                        <li class ="list">
                            <a href="" class ="link">
                                <img src="assets/social_logo/linkedin.png" alt="" class ="social-media-logo">
                            </a>
                        </li>

                        <li class ="list">
                            <a href="" class ="link">
                                <img src="assets/social_logo/github.png" alt="" class ="social-media-logo">
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div> 
        
        <!-- form -->
        <div class ="col-7 contact-form">
            <h6 class ="simpleFormHeader">
                Interested on working with me? or 
                just to say something fill up the 
                form and you're good to go 
            </h6>
            <form [formGroup] ="contactForm" (ngSubmit) ="OnSend()">
                <input type="text" placeholder ="Fullname" formControlName ="Fullname" >
                <div class ="error" *ngIf ="(fullname.dirty || fullname.touched ) && fullname.invalid && fullname.errors.required">
                    Fullname is required
                </div>
                <div class ="error" *ngIf ="(fullname.dirty || fullname.touched ) && fullname.invalid && fullname.errors.pattern">
                    Must be alphabet / Include middle name with dot : <span class ="example">John D. Doe</span>
                </div>
                <input type="email" placeholder ="Email" formControlName ="Email" >
                <div class ="error" *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.required">
                    Email is required
                </div>
                <div class ="error" *ngIf ="(email.dirty || email.touched) && email.invalid && email.errors.pattern && email.errors.email">
                    Invalid email
                </div>
                <input type="text" placeholder ="Subject" formControlName ="Subject" >
                <div class ="error" *ngIf ="(subject.dirty || subject.touched) && subject.invalid && subject.errors.required">
                    Subject is required
                </div>
                <label for="message" class ="messageLabel">Message</label>
                <textarea cols="30" rows="6" id ="message" formControlName ="Message"></textarea>
                <div class ="error" id ="messageFieldError" *ngIf ="(message.dirty || message.touched) && message.invalid && message.errors.required">
                    Your message is required
                </div>
                <input [disabled]="!contactForm.valid" type="submit" id ="send" class ="btn" #send>
                <button type ="reset" class ="btn" id ="reset" #reset></button>
                <button class="btn" mat-dialog-close #cancel></button>
                <div class ="row btn-group">
                    <div class ="btn-container col-6">
                        <span class ="cancel" (click) ="cancel.click()">cancel</span>
                    </div>
                    <div class ="btn-container col-6">
                        <span class ="send" (click) ="send.click()" >Send</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
