.custom-modalbox {
    height: 100%;
    width: 100%;
}

/* =============== left header =============== */
.custom-modalbox .headersWallpaper {
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0px;
    height: 600px;
}

.custom-modalbox .headersWallpaper .contact-header  {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 10px;
    width: 100%;
    height: 600px;
}

/* personal logo */
/* .custom-modalbox .headersWallpaper .contact-header .brand-container {
    border: 1px solid black;
} */

.custom-modalbox .headersWallpaper .contact-header .brand-container .logo {
    float: right;
}

.custom-modalbox .headersWallpaper .contact-header .brand-container .logo .brand {
    width: 50px;
    height: 50px;
}

/* headers */
.custom-modalbox .headersWallpaper .contact-header .headers {
    text-align: center;
    height: 120px;
    margin-top: 280px;
    margin-left: 11px;
    color: white;
}

.custom-modalbox .headersWallpaper .contact-header .headers h6 {
    text-align: left;
    font-weight: bold;
}

.custom-modalbox .headersWallpaper .contact-header .headers .button {
    border: 2px solid white;
    color: white;
    outline-width: 0;
    text-decoration: none;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 0.9rem;
    position: relative;
    top: 30px;
}

.button:hover {
    border: 1px solid red;
}

/* social media link */
.custom-modalbox .headersWallpaper .contact-header .social-link {
    margin-top: 40px;
    margin-left: 11px;
    padding: 0px;
}

.custom-modalbox .headersWallpaper .contact-header .social-link .item {
    margin: 0px;
    padding: 0px;
}

.custom-modalbox .headersWallpaper .contact-header .social-link .item .list {
    list-style-type: none;
    display: inline-block;
    padding: 0px;
    margin-right: 8px;
}

.custom-modalbox .headersWallpaper .contact-header .social-link .item .list .link .social-media-logo {
    width: 40px;
    height: 40px;
}

/* ============== form ============= */
input {
    padding: 0px 0px 0px 5px;
    font-size: 0.85rem;
}

textarea {
    padding: 0px 0px 0px 5px;
    font-size: 0.85rem;
}

.custom-modalbox .contact-form {
    height: 600px;
    padding: 0px;
}

.custom-modalbox .contact-form .simpleFormHeader {
    font-size: 0.85rem;
    padding: 20px 25px 12px 10px;
    margin: 0px;
    text-align: center;
}

.custom-modalbox .contact-form form {
    padding: 0px 0px 0px 0px; 
    margin: 0px;
    height: 100%;
}

.custom-modalbox .contact-form form .error {
    font-size: 0.8rem;
    color: red;
    position: absolute;
    left: 16px;
    z-index: 1;
}

.custom-modalbox .contact-form form .error .example {
    color: gray;
}

.custom-modalbox .contact-form form input {
    border: 1px solid rgba(73, 67, 67, 0.693);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline-width: 0;
    width: 90%;
    position: relative;
    left: 12px;
    padding-top: 35px;
    display: block;
}

.custom-modalbox .contact-form form input.ng-invalid.ng-touched {
    border-bottom: 1px solid red;
}

.custom-modalbox .contact-form form input.ng-valid {
    border-bottom: 1px solid rgb(30, 200, 10);
}

.custom-modalbox .contact-form form input:focus {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid  rgb(30, 200, 10);
    transition: 0.3s;
}

.custom-modalbox .contact-form form .btn {
    display: none;
}

.custom-modalbox .contact-form form #messageFieldError {
    top: 18rem;
    right: 12px;
}

.custom-modalbox .contact-form form .messageLabel {
    color: gray;
    margin: 0px;
    padding: 0px;
    font-size: 0.9rem;
    position: relative;
    top: 30px;
    left: 17px;
}

.custom-modalbox .contact-form form textarea {
    border: 1px solid gray;
    outline-width: 0;
    resize: none;
    width: 100%;
    width: 90%;
    position: relative;
    top: 30px;
    left: 12px;
}

.custom-modalbox .contact-form form textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

.custom-modalbox .contact-form form textarea.ng-valid {
    border: 1px solid rgb(30, 200, 10);
}

.custom-modalbox .contact-form form textarea:focus {
    border: 1px solid rgb(30, 200, 10);
    transition: 0.3s;
}

.custom-modalbox .contact-form form .btn-group {
    position: relative;
    left: 12px;
    padding: 0px;
    margin: 0px;
    top: 55px;
    width: 90%;
}

/* cancel */
.custom-modalbox .contact-form form .btn-group .btn-container #cancel {
    border: 2px solid rgb(30, 200, 10);
    color: rgb(30, 200, 10);
    border-radius: 50px;
    padding: 5px 20px;
    position: relative;
    left: 38px;
    cursor: pointer;
}

/* send button */
.custom-modalbox .contact-form form .btn-group .btn-container #send {
    background-color: rgb(30, 200, 10);
    border: 2px solid rgb(30, 200, 10);
    color: white;
    border-radius: 50px;
    padding: 5px 20px;
    position: relative;
    left: 38px;
    cursor: pointer;
}

.custom-modalbox .contact-form form .btn-group .btn-container .button:hover {
    box-shadow: 0px 0px 3px 0px rgb(30, 200, 10);
}

input:invalid {
    border-bottom: 1px solid red;
}