<div class ="row">
  <div class ="col-md-9 oneoftwo">
    <header class ="col-md-12">
      <div class ="col-md-12 imgAndWallpaperContainer">
        <div class ="wallpaper">
          <div class ="profileImg" style ="background-color: blue">
            <img src="" alt="profile_img" class ="img" style ="width: 100px; height: 100px;">
          </div>
          <div class ="information">
            <h4 class ="name">Lars Concepcion</h4>
            <h5 class ="Headline">M.E.A.N Stack Web Developer from philippines</h5>
            <h6 clas ="location">Region XII - Soccsksargen</h6>
          </div>
          <app-nav></app-nav>
          <div class ="summaryText">
            I'm Lars Concepcion a M.E.A.N Stack Web Developer from Philippines. I love to handicraft
            website development from scratch to deliver a high quality product with a clean and neat code source for every 
            application's i've done.
          </div>
        </div>
      </div>
    </header>

    <main class ="row">
      <app-sidebar class ="col-md-4"></app-sidebar>
      <app-centerbar class ="col-md-8"></app-centerbar>
    </main>
  </div>

  <div class ="col-md-3 twooftwo">
    <h5 class ="containerName">Portfolio</h5>
    <div class ="portfolio">
      <ng-scrollbar class ="custom-scrollbar" thumbClass ="white-scrollbars">
        <div class ="container portfolio_container">
          <div class ="row">
            <div class ="col alt"></div>
          </div>
          <div class ="row">
            <div class ="col alt"></div>
          </div>
          <div class ="row">
            <div class ="col alt"></div>
          </div>
          <div class ="row">
            <div class ="col alt"></div>
          </div>
          <div class ="row">
            <div class ="col alt"></div>
          </div>
          <div class ="row">
            <div class ="col alt"></div>
          </div>
        </div>
      </ng-scrollbar>
    </div>
  </div>
</div>