<header>
  <div class ="imgAndWallpaperContainer">
    <div class ="wallpaper">
      <div class ="profileImg">
        <img src="" alt="" class ="img">
        <h1 class ="name">Lars Concepcion</h1>
        <h2 class ="Headline">M.E.A.N Stack Web Developer from philippines</h2>
        <h3 clas ="location">Region XII - Soccsksargen</h3>
      </div>
      <app-nav></app-nav>
      <div class ="summaryText">
        I'm Lars Concepcion a M.E.A.N Stack Web Developer from Philippines. I love to handicraft
        website development from scratch to deliver a high quality product with a clean and neat code source for every 
        application's i've done.
      </div>
    </div>
  </div>
</header>

<main>
  
</main>